/* GENERAL */
* {
    padding: 0;
    margin: 0;
    touch-action: manipulation; /* Prevent double tap to zoom on mobile: https://stackoverflow.com/questions/10614481/disable-double-tap-zoom-option-in-browser-on-touch-devices */
}

:root {
    --darkBrown: #634b29;
    --brown: #795C32;
    --lightBrown: #D3B683;
    --grass: #008000;
}

body {
    background-color: var(--grass);
    overflow: hidden;
    height: 100vh;
    transition: background-color 500ms;
}

/* DIALOG ANIMATIONS */
@keyframes show-dialog { /* CREDIT: https://codepen.io/geckotang/post/dialog-with-animation */
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.hideDialogue {
    opacity: 0;
    transform: translateY(-100%);
}

@keyframes show-backdrop {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes hide-backdrop {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* INVESTMENT BANNER ANIMATIONS */
@keyframes bannerNotify {
    0% {
        transform: translateY(200%);
    } 
    25% {
        transform: translateY(0%);
    } 
    75% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(200%);
    }
}

/* ACHIEVEMENT BANNER ANIMATIONS */
@keyframes achievementBannerNotify {
    0% {
        transform: translateX(-50%) translateY(-250%);
    } 
    25% {
        transform: translateX(-50%) translateY(0%);
    } 
    75% {
        transform: translateX(-50%) translateY(0%);
    }
    100% {
        transform: translateX(-50%) translateY(-250%);
    }
}

/* OXYGEN HUD */
.oxygenHud {
    background-color: var(--brown);
    position: fixed;
    inset: 0.5rem auto auto 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: var(--lightBrown);
    padding-inline: 5px;
    border-radius: 10px;
    border: 5px solid var(--brown);
    height: 2rem;
    z-index: 50;
}

/* MENU ICONS */
.menuHud {
    position: fixed;
    top: 0.5rem; right: 0.5rem;
    background-image: linear-gradient(var(--brown), var(--brown));
    color: var(--lightBrown);
    font-family: 'Roboto', sans-serif;
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    border: 5px solid var(--brown);
    display: grid;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none; /* Source: https://www.w3schools.com/howto/howto_css_disable_text_selection.asp  */
    -ms-user-select: none;
    user-select: none;
    z-index: 50;
    transition: transform 200ms;
}

.menuHud:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.menuIcon {
    transform: scale(1.3);
}

/* DIALOGUE MENU */
#mainMenu {
    inset: -15% 0 0 0;
    position: absolute;
    margin: auto;
    z-index: 100;
    width: 100vw;
    max-width: 800px;
    max-height: 550px;
    background-color: var(--brown);
    border: 10px solid var(--darkBrown);
    border-radius: 20px;
    color: var(--lightBrown);
    box-sizing: border-box;
    outline: 0;
    transition: all 500ms;
    -webkit-user-select: none; /* Source: https://www.w3schools.com/howto/howto_css_disable_text_selection.asp  */
    -ms-user-select: none;
    user-select: none;
}

#mainMenu[open] {   /* CREDIT: https://codepen.io/geckotang/post/dialog-with-animation */
    animation: show-dialog 500ms ease normal;
}

#mainMenu::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
}

#mainMenu[open]::backdrop {
    animation: show-backdrop 500ms ease normal;
}

#mainMenu.hideDialogue::backdrop {
    animation: hide-backdrop 500ms ease normal; /* */
}

.menuSection {
    position: relative;
    height: fit-content;
    padding-bottom: 6rem;
    text-align: center;
    display: none;
}

.mainMenuTitle {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 2px;
}

.menuNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.menuOption {
    background-color: var(--brown);
    border: 5px solid var(--darkBrown);
    border-radius: 8px;
    color: var(--lightBrown);
    padding: 3px;
    margin: 1vh 5px;
    width: 20rem;
    font-size: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    outline: 0;
    transition: scale 200ms;
}

.menuOption:hover {
    scale: 1.05;
    cursor: pointer;
}

.menuClose {
    background-color: var(--darkBrown);
    border: 5px solid var(--darkBrown);
    border-radius: 8px;
    color: var(--lightBrown);
    position: absolute;
    bottom: 1.5rem;
    margin: auto;
    transform: translateX(-50%);
}

.menuClose:hover {
    scale: 1.05;
    cursor: pointer;
}

.menuCloseCenter {
    width: 100%;
	position:  absolute;
	transform: translate(0, 100px); 
}

/* BUY/SELL TREE */
.treeOption {
    width: 50%;
    min-width: 275px;
    margin: 5px auto;
    border: 5px solid var(--darkBrown);
    border-radius: 10px;
    text-align: left;
    position: relative;
    display: flex;
}

.treeIcon {
    width: 3.5rem;
    aspect-ratio: auto;
    margin: 3px;
}

.treeName {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    color: var(--lightBrown);
    display: flex;
    align-self: center;
}

.treePrice, .treeAmount {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    color: var(--lightBrown);
    right: 1rem;
    top: 50%;
    translate: 0px -50%;
}

.treePrice::after {
    content: " O\2082";
    color: var(--lightBrown);
    font-weight: normal;
}

/* INVESTMENTS */
#currentInvestor {
    background-color: var(--brown);
    border: 5px solid var(--darkBrown);
    border-radius: 8px;
    color: var(--lightBrown);
    padding: 3px;
    margin: 3rem auto 1rem auto;
    width: 70%;
    min-width: 250px;
    text-align: left;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    outline: 0;
}

#investorName {
    text-align: center;
    margin-bottom: 5px;
}

.investorOptions {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.investorLabel {
    width: 50%;
    text-align: left;
    padding-bottom: 7px;
    white-space: nowrap;
}

.investorUnit {
    width: 50%;
    text-align: right;
    padding-bottom: 7px;
}

.investorUnit::after {
    content: attr(data-unit);
}

.investorActionButton {
    background-color: var(--brown);
    border: 5px solid var(--darkBrown);
    border-radius: 8px;
    color: var(--lightBrown);
    padding: 3px;
    width: 37%;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    outline: 0;
    transition: background-color 200ms;
}

.investorActionButton:hover, .investorActionButton:active {
    background-color: var(--darkBrown);
} 

#investorWait {
    display: none;
    background-color: var(--darkBrown);
    border: 5px solid var(--darkBrown);
    border-radius: 8px;
    color: var(--lightBrown);
    padding: 3px;
    margin: auto;
    width: 75%;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    outline: 0;
}

/* INVESTMENT BANNER */
#investmentBanner {
    background-color: var(--brown);
    border: 5px solid var(--darkBrown);
    border-radius: 8px;
    color: var(--lightBrown);
    padding: 5px 10px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateY(200%);
}

.bannerAnimation {
    animation: bannerNotify 5000ms ease forwards normal;
}

/* FOREST */
#forest {
    width: 100vw;
    height: 100vh;
    position: absolute;
    -webkit-user-select: none; /* Source: https://www.w3schools.com/howto/howto_css_disable_text_selection.asp  */
    -ms-user-select: none;
    user-select: none;
    background-color: var(--grass);
}

/* ACHIEVEMENT */
#achievementList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achievementCard {
    width: 75%;
    margin: 5px auto;
    background-color: var(--brown);
    border: 5px solid var(--darkBrown);
    border-radius: 8px;
    color: var(--lightBrown);
    padding: 5px 10px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

.achievementStatus {
    width: 3.5rem;
    height: 3.5rem;
    margin: 3px;
}

.achievementText {
    margin: 3px 0px 0px 5px;
    text-align: left;
}

.achievementText h6 {
    font-size: 1.5rem;
}

.achievementText p {
    font-size: 1rem;
}

.achivementBanner {
    background-color: var(--brown);
    border: 5px solid var(--darkBrown);
    border-radius: 8px;
    color: var(--lightBrown);
    padding: 15px 10px 5px 10px;
    position: fixed;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%) translateY(-250%);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    z-index: 105;
}

.achivementBanner:before {
	content: "New achievement:";
	position: absolute;
	font-size: 1rem;
	transform: translateY(-13px); 
}

.achievementBannerAnimation {
    animation: achievementBannerNotify 5000ms ease forwards normal;
}

/* STATS */
.statsText {
    color: var(--lightBrown);
    padding: 3px;
    margin: 5px auto;
    width: 70%;
    min-width: 250px;
    text-align: left;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* SAVE */
.saveActionButton {
    background-color: var(--brown);
    border: 5px solid var(--darkBrown);
    border-radius: 8px;
    color: var(--lightBrown);
    padding: 3px;
    margin: 5px;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    outline: 0;
    transition: background-color 200ms;
}

.saveActionButton:hover, .saveActionButton:active {
    background-color: var(--darkBrown);
} 

.saveTextArea {
    background-color: var(--brown);
    border: 5px solid var(--darkBrown);
    border-radius: 8px;
    color: var(--lightBrown);
    padding: 3px;
    width: 50%;
    height: 100px;
    min-width: 250px;
    margin-top: 0.75rem;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    display: block;
    outline: 0;
}

.saveCopy {
    background-color: var(--darkBrown);
    color: var(--lightBrown);
    font-family: Arial, Helvetica, sans-serif;
    outline: 0;
    border: 0;
    border-radius: 8px;
    width: fit-content;
    padding: 5px 10px;
    margin: 5px auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms;
    cursor: pointer;
}

.saveCopy:hover {
    transform: scale(1.05);
}